<div class="container">

  <div class="title-page">
    <div>
      <h1>cocktails</h1>
    </div>
    <div class="add-cocktail"><p> <i class="fas fa-plus-circle"></i> <%= link_to "add", new_cocktail_path %> </p></div>
  </div>

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dx8bblo6i/image/upload/v1522579691/7110238591_a9c8d04e17_o.jpg');">

    <div class="banner-content">
      <div class="container">
        <div class="row">
          <div>
            <ul>
              <% @cocktails.each do |cocktail| %>
              <li class="col-xs-12 col-sm-4">
                <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path cocktail.photo %>')">
                  <div class="card-description">
                    <h2> <%= cocktail.name %> </h2>
                    <p> <%= link_to "go further", cocktail_path(cocktail) %> </p>
                  </div>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>






