<div class="container">

  <div>
    <h1>cocktails</h1>
  </div>

  <div class="add-cocktail"><p> <i class="fas fa-plus-circle"></i> <%= link_to "add", new_cocktail_path %> </p></div>

  <div>
    <ul>
      <% @cocktails.each do |cocktail| %>
      <li><p><%= link_to cocktail.name, cocktail_path(cocktail) %></p></li>
      <% end %>
    </ul>
  </div>

</div>



