.card {
  height: 175px;
  background-size: cover !important;
  background-position: center;
  position: relative;
  color: white;
  margin: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  &:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  }
}

.card-description {
  position: absolute;
  bottom: 3px;
  left: 10px;
}
.card-description h2 {
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  font-size: 18px;
}
.card-description p {
  font-size: 14px;
  font-weight: light;
}

