// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #3A0088;
  color: #930077;
  font-family: helvetica, sans-serif;
}

.title-cocktail {
  text-align: left;
  height: 40px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.title-cocktail h2 {
  color: #FFBD39;
  margin: 10px;
  padding: 10px;
  font-weight: lighter;
  font-size: 30px;
}

.list-reviews {
  background-color: #930077;
  color: #FFBD39;
  padding: 10px;
  height: 400px;
}

.list-reviews h3 {
  color: #FFBD39;
  font-weight: lighter;
  font-size: 20px;
}

.back-to-all {
  margin: 10px 5px;
  float: right;
}
